body {
    background-color: black;
    color: white;
}

#header {
    background-color: rgba(0, 0, 0, 0);
}

#nav-bar {
    background-color: rgba(0, 0, 0, 0.5);
}

#titre {
    font-size: 30px;

}

#titreo {
    color: #ff7800;
}

#btnC {
    background-color: #ff7800;
    border: 1px solid #ff7800;
    border-radius: 5px;
}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.5);
}

#contact {

    padding: 4px;
    margin: 5px;
    border: 1px solid #ff7800;
    border-radius: 5px;
    background-color: #ff7800;
    font-size: 15px;

}

.carousel-item {
    position: relative;

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;

    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.txt {
    font-size: 80px;
}

#section2 {
    margin: 10px;
}

#cntct {
    list-style-type: none
}


#imgs2 {
    width: 400px;
}

#imgo {
    opacity: 0.5;
}

#ads {
    background-color: black;
}

#aside {
    display: flex;
    align-items: center;
}

#section3 {
    background-color: #222222;

    padding: 10px;
}

#titres3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col {
    background-color: black;
    margin: 15PX;
}

ul {
    list-style-type: none
}

#imgm {
    width: 200px;
}

#ft {
    margin-top: 10px;
}

#tc {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;


}

#social {
    display: flex;
    flex-direction: column;

}

#social a {
    color: rgb(255, 255, 255);
}